* { 
    box-sizing: border-box;
    user-select:none;
}

p {cursor:text;}

body {
    padding: 0;
    margin: 0;
}

.simpleContainer {
    display: grid;
    padding: 25px;
    background-color: grey;
    margin: 12.5vh auto;
    height: 75vh;
    width: 75vh;
    min-width: 650px;
    min-height: 650px;
    grid-template: 1fr 3fr 1fr / 1fr 1fr;;
}


.title {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.title * {
    padding: 0px;
    margin: 0px;
}

.bookLibraryContainer {
    display: grid;
    /* padding: 16px; */
    grid-template: 1fr 8fr 1fr / 1fr;
    border: 1px solid black;
    /* cursor: pointer; */
    background-color: black;
}

.bookLibraryContainer p {
    margin: 0px;
    text-align: center

}

.nextBookButton, .prevBookButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.nextBookButton:hover, .prevBookButton:hover {
    color: red;
    transform: scale(1.25);
    transition: color 0.25s, transform 0.2s;
}

.bookLibrary {
    display: grid;
    grid-template: repeat(8,1fr) / 1fr;
    border: 1px solid black;
}

.book {
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.selectedBook {
    background-color: rgb(255, 23, 23)
}

.selectedBookDescriptionContainer {
    margin: 0px 16px;
    /* background-color: yellow; */
    background-image:url('./Scroll.png');
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.selectedBookDescriptionContainer p{
    margin: 0px 10%;
    text-align: center;

}

.addNewSection { 
    grid-column: 1 / 3;
    grid-row:  3 / 3;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-auto-flow: column;
}

.addNewSection > button:hover {
    cursor: grab;
}

.addNewSection form {
    display: grid;
    grid-template: repeat(4,1fr) / 1fr 1fr;
    grid-gap: 10px;
}

.addNewSection  p {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 0px;
    border-bottom: 2px solid black;

}

.submit {
    grid-column: 1 / 3;
    align-self: center;
    justify-self: stretch;
    text-align: center;
    grid-row: 4 / 4;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.877);
    color: white;
    font-weight: bold;
    cursor: grab;
}
.addNewSection input, .addNewSection textarea {
    width: 75%;
    align-self: stretch;
    border-radius: 10px;
    border: 0px;
    text-align: center;
    font-size: 1rem;
    background: radial-gradient( #FFFFFF, #d6d6d6);
    text-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    
}

.readDiv > label {
    width: 52px;

}

.addNewSection div > p {
    width:25%;
    margin-right: 2px;
    border-bottom: 0px;
}

#read {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 100%;
    /* padding: 0px 2px; */
    border-radius: 10px;
    height: 100%;
    width: 75%;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background: radial-gradient( #FFFFFF, #d6d6d6);
    outline: none;
    border: 0px;
}
fieldset label {
    min-width: 50%;
    min-height: 50%;
    justify-self: right;
}
.addNewSection div fieldset input {
    margin: 0px;
    appearance: none;
    align-self: center;
    width: 20px;
    height: 20px;
    background: none;
    background-color: white;
    justify-self: left;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    }

.addNewSection div fieldset input:checked{
    border: 2px solid red;
}

.addNewSection div fieldset input:checked::before {
    /* appearance: none;
    align-self: center;
    justify-self: left;
    width: 20px;
    height: 20px;
    background: none; */
    /* background-color: red; */
    color: red;
    content: "✓";
    font-size: 1rem;
    }    


#title {
    font-style: italic;
}

.addNewSection label {
    width: 25%;
text-align: center;
}

.addNewSection div { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

dialog {
    width: clamp(464px,50vh,50vh);
    min-width: 464px;
    min-height: 356px;
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    padding: 25px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0);
    min-width: 50vh;
    opacity: 0;
    margin: 0px auto;
    height: 75vh;
    width: 75vh;
    min-width: 650px;
    min-height: 650px;
    pointer-events: none;
}

.showDialog {
    background-color: rgba(255, 0, 0, 0.822);
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 20px;

}

.botButton {
    background-color: rgba(255, 0, 0, 0.822);
    padding: 20px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}